### **Engenharia de Dados**

**Exercício 4.1:**
Carregue o dataset `titanic` e realize as seguintes transformações:

- Crie uma nova coluna `family_size` que seja a soma de `sibsp` (irmãos/cônjuges) e `parch` (pais/filhos).
- Converta a coluna `sex` em valores numéricos (0 para masculino e 1 para feminino).
- Preencha os valores ausentes na coluna `age` com a mediana da idade.

**Exercício 4.2:**
Crie uma função que receba um DataFrame e:

- Padronize as colunas numéricas (subtraia a média e divida pelo desvio padrão).
- Aplique codificação one-hot em colunas categóricas.

In [20]:
# bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# dados
titanic = sns.load_dataset('titanic')

## TITANIC

In [ ]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [27]:
# Crie uma nova coluna family_size que seja a soma de sibsp (irmãos/cônjuges) e parch (pais/filhos).
titanic['family_size'] = titanic['sibsp'] + titanic['parch']
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family_size
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,1
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0

In [28]:
# Converta a coluna sex em valores numéricos (0 para masculino e 1 para feminino).
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family_size
0,0,3,0,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,1
1,1,1,1,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
2,1,3,1,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,1,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
4,0,3,0,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0

In [29]:
titanic.sex.value_counts()

sex
0    577
1    314
Name: count, dtype: int64

In [35]:
# Preencha os valores ausentes na coluna age com a mediana da idade.
titanic['age'].fillna(titanic['age'].median(), inplace=True)
titanic.head()

<ipython-input-35-b42c117528c3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['age'].fillna(titanic['age'].median(), inplace=True)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family_size
0,0,3,0,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,1
1,1,1,1,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,1
2,1,3,1,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,1,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,1
4,0,3,0,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,0

In [36]:
titanic.age.isna().any()

False

In [40]:
# função que padronize as colunas numéricas (subtraia a média e divida pelo desvio padrão).
def padronizar_colunas_numericas(df):
    colunas_numericas = df.select_dtypes(include=['float64', 'int64']).columns
    df[colunas_numericas] = (df[colunas_numericas] - df[colunas_numericas].mean()) / df[colunas_numericas].std()
    return df

# função que aplica codificação one-hot em colunas categóricas.
def codificar_one_hot(df):
    colunas_categoricas = df.select_dtypes(include=['object']).columns
    df_codificado = pd.get_dummies(df, columns=colunas_categoricas, drop_first=True)
    return df_codificado

In [38]:
df_padronizado = padronizar_colunas_numericas(titanic)
df_padronizado.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family_size
0,-0.788829,0.826913,-0.737281,-0.565419,0.432550,-0.473408,-0.502163,S,Third,man,True,NaN,Southampton,no,False,0.059127
1,1.266279,-1.565228,1.354813,0.663488,0.432550,-0.473408,0.786404,C,First,woman,False,C,Cherbourg,yes,False,0.059127
2,1.266279,0.826913,1.354813,-0.258192,-0.474279,-0.473408,-0.488580,S,Third,woman,False,NaN,Southampton,yes,True,-0.560660
3,1.266279,-1.565228,1.354813,0.433068,0.432550,-0.473408,0.420494,S,First,woman,False,C,Southampton,yes,False,0.059127
4,-0.788829,0.826913,-0.737281,0.433068,-0.474279,-0.473408,-0.486064,S,Third,man,True,NaN,Southampton,no,True,-0.560660

In [41]:
df_padronizado_e_codificado = codificar_one_hot(df_padronizado)
df_padronizado_e_codificado.head()

,survived,pclass,sex,age,sibsp,parch,fare,class,adult_male,deck,alone,family_size,embarked_Q,embarked_S,who_man,who_woman,embark_town_Queenstown,embark_town_Southampton,alive_yes
0,-0.788829,0.826913,-0.737281,-0.565419,0.432550,-0.473408,-0.502163,Third,True,NaN,False,0.059127,False,True,True,False,False,True,False
1,1.266279,-1.565228,1.354813,0.663488,0.432550,-0.473408,0.786404,First,False,C,False,0.059127,False,False,False,True,False,False,True
2,1.266279,0.826913,1.354813,-0.258192,-0.474279,-0.473408,-0.488580,Third,False,NaN,True,-0.560660,False,True,False,True,False,True,True
3,1.266279,-1.565228,1.354813,0.433068,0.432550,-0.473408,0.420494,First,False,C,False,0.059127,False,True,False,True,False,True,True
4,-0.788829,0.826913,-0.737281,0.433068,-0.474279,-0.473408,-0.486064,Third,True,NaN,True,-0.560660,False,True,True,False,False,True,False